{% extends 'base/layout.html' %}

{% block body %}
<div class='card' style='margin-top: 2em;'>
    <div class='card-header'>
        <h3>Log in</h3>
    </div>
    <div class='card-body'>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class='inline-form-control'>
                <label for='username'>username</label>
                <input type='text' name='username'>
            </div>
            <div class='inline-form-control'>
                <label for='username'>email</label>
                <input type='email' name='email'>
            </div>
            <div class='inline-form-control'>
                <label for='password' >password</label>
                <input type='password' name='password'>
            </div>
            <div class='inline-form-control'>
                <label for='password' >password confirmation</label>
                <input type='password' name='confirmation'>
            </div>
            <input type="submit" value='register' class='btn btn-light'>
        </form>
    </div>
    <div class='card-footer'>
        Already have an account? <a href="{% url 'register' %}">login</a>
    </div>
</div>

{% endblock %}